body{
    margin:0px;
    padding: 0px;
    background-color: black;
    color:white; 
}
.box{
    width: 99vw;
    height: 10vh;
    background-color:rgb(14, 47, 14);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid gold;
   
    padding: 11px;
}
.box-img{
    width: 50vw;
}
.box-img img{
    width: 90px;
    border-radius: 30px;
}

.box-img img:hover{
    box-shadow:5px 5px 5px rgb(36, 57, 36);
    width: 100px;
    
}

.box-nav{
    width: 50vw;
    justify-content: flex;
}
.box-nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.box-nav ul a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color:white;
    
}
.box-nav ul a:hover{
    box-shadow: 5px 5px 5px  goldenrod;
    font-size: 22px;
}
